<!DOCTYPE html>
<html xmlns:th="http://www.thymelesf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{/emp}" method= "post">
<input type= "hidden" name= "method" value= "put"/>
编号<input type="text" name="eid" th:value="${emp.eid}"/><br/>
姓名<input type= "text"name= "ename" th:value="${emp.ename}"/><br/>
入职日期<input type= "text" name="date"
th:value="${#dates. format (emp.date, 'yyyy-MM-dd') }"/><br/>
所属部门<select name= "dep. did">
<option th:each= "dep:${deps}" th:selected= "${dep.did==emp.dep.did}"
th:value="${dep.did}">[[${dep.dname}]]</option>
</select><br/>
<input type= "submit" value= "updateemp"/><br/>
</form>


</body>
</html>